<% @group_events.each do |event_owner, events| %>
  <div class="row">
    <div class="col-md-12 col-lg-12 text-center">
      <div class="owner">
        <%= render_event_owner(event_owner, events.first) %>
      </div>
    </div>
  </div>
  <% events.each do |event| %>
  <div class="row">
    <div class="col-md-2 col-md-offset-2 col-lg-2">
      <div>
        <span><%= render_created_at(event.created_at) %></span>
        <div class="thumb">
          <%= render_head_pic %>
        </div>
        <span><%= render_creator_name(event) %></span>
      </div>
    </div>
    <div class="col-md-8 col-lg-8">
      <%= render_event_action(event) %>
    </div>
  </div>
  <% end %>
<% end %>

<% content_for :javascripts do %>
  <script>

    $(function() {

    });

    function getMoreEvent() {

    }





  </script>
<% end %>
