<!DOCTYPE html>
<html>
  <head>
    <title>TowerTodoIndex</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render partial: "common/flashes" %>
      <%= render partial: "common/navbar" %>
      <%= yield %>
      <%= render partial: "common/footer" %>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :javascripts %>
  </body>
</html>
